body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;
  h1 {
    color: rgb(206, 206, 18);
  }
  h2 {
    color: rgb(206, 9, 42);
  }
  span {
    color: blue;
  }
  h3 {
    color: green;
  }
  .noun {
    background-color: rgb(25, 37, 2);
    width: 300px;
    padding: 1rem;
    color: #ccc;
    margin: 1rem;
  }
}
